In [1]:
import polars as pl
import glob
import os
from pathlib import Path
import pandas as pd

root = Path.cwd().parent
root

PosixPath('/Users/skywings/Documents/RA/Professor_Zhao_RA/ä»»åŠ¡/chicago-taxi-data')

In [2]:
df_sample = pd.read_csv(root / 'input' / 'chicago_taxi_trips_000000000003.csv')
display(df_sample.head(), df_sample.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 23 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   unique_key              1000000 non-null  object
 1   taxi_id                 1000000 non-null  object
 2   trip_start_timestamp    1000000 non-null  object
 3   trip_end_timestamp      1000000 non-null  object
 4   trip_seconds            999628 non-null   float64
 5   trip_miles              1000000 non-null  float64
 6   pickup_census_tract     23825 non-null    float64
 7   dropoff_census_tract    35542 non-null    float64
 8   pickup_community_area   30401 non-null    float64
 9   dropoff_community_area  73067 non-null    float64
 10  fare                    999904 non-null   float64
 11  tips                    999904 non-null   float64
 12  tolls                   996680 non-null   float64
 13  extras                  999904 non-null   float64
 14  trip_total              999904 non-null   float64
 15  payment_type            1000000 non-null  object
 16  company                 3224 non-null     object
 17  pickup_latitude         30405 non-null    float64
 18  pickup_longitude        30405 non-null    float64
 19  pickup_location         30405 non-null    object
 20  dropoff_latitude        73255 non-null    float64
 21  dropoff_longitude       73255 non-null    float64
 22  dropoff_location        73255 non-null    object
dtypes: float64(15), object(8)
memory usage: 175.5+ MB

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,18b092309dff1fa8298b21f8dfb9be19124363c4,193f49f2e6f3c31a0058bb26e322f818043e6d64ff80a9...,2014-06-07 23:15:00 UTC,2014-06-07 23:15:00 UTC,0.0,0.0,1.703182e+10,1.703182e+10,NaN,NaN,...,NaN,NaN,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7b0601c2eaeccb6c7629f48858a007afea2e98e4,2cb7deb7674470467d31b1bba4657ab1c44c1feebf6274...,2014-04-16 15:30:00 UTC,2014-04-16 15:30:00 UTC,0.0,0.0,NaN,NaN,NaN,77.0,...,NaN,NaN,Credit Card,NaN,NaN,NaN,NaN,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999)
2,0e1861cfb146b9e1b8b773b5be89f69cee92a0fc,e055c27835840cb1b08c8f68e20066307ab235a02fe7bd...,2014-04-25 14:15:00 UTC,2014-04-25 14:15:00 UTC,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Credit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f8583c9d5d9fde21f8bcdd7b3ed0439c21a7fd88,e055c27835840cb1b08c8f68e20066307ab235a02fe7bd...,2014-04-25 14:15:00 UTC,2014-04-25 14:15:00 UTC,60.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Credit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5551bd37929928c32a1e703f871cedd1978709f0,e055c27835840cb1b08c8f68e20066307ab235a02fe7bd...,2014-04-25 16:30:00 UTC,2014-04-25 16:30:00 UTC,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Credit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN

None

In [3]:

# -*- coding: utf-8 -*-

import os
import glob
import shutil  # ç”¨äºå¤„ç†æ–‡ä»¶å¤¹
import polars as pl
import pandas as pd
from tqdm import tqdm
from pathlib import Path

# 1. æ ‡å‡†ç»“æ„å®šä¹‰ (ä¸æ‚¨åŸæ¥çš„ä¸€è‡´ï¼Œæ— éœ€æ”¹åŠ¨)
# å®šä¹‰æ‰€æœ‰åˆ—çš„ç»Ÿä¸€æ•°æ®ç±»å‹å’Œé¡ºåº
STANDARD_SCHEMA = {
    "unique_key": pl.Utf8, "taxi_id": pl.Utf8, "trip_start_timestamp": pl.Utf8,
    "trip_end_timestamp": pl.Utf8, "trip_seconds": pl.Float64, "trip_miles": pl.Float64,
    "pickup_census_tract": pl.Float64, "dropoff_census_tract": pl.Float64,
    "pickup_community_area": pl.Float64, "dropoff_community_area": pl.Float64,
    "fare": pl.Float64, "tips": pl.Float64, "tolls": pl.Float64,
    "extras": pl.Float64, "trip_total": pl.Float64, "payment_type": pl.Utf8,
    "company": pl.Utf8, "pickup_latitude": pl.Float64, "pickup_longitude": pl.Float64,
    "pickup_location": pl.Utf8, "dropoff_latitude": pl.Float64,
    "dropoff_longitude": pl.Float64, "dropoff_location": pl.Utf8
}
STANDARD_COLS = list(STANDARD_SCHEMA.keys())

# 2. å®‰å…¨è¯»å–CSVçš„å‡½æ•° (ä¸æ‚¨åŸæ¥çš„ä¸€è‡´ï¼Œæ— éœ€æ”¹åŠ¨)
# è¿™ä¸ªå‡½æ•°èƒ½å¥å£®åœ°å¤„ç†åˆ—åä¸ä¸€è‡´ã€åˆ—ç¼ºå¤±ç­‰é—®é¢˜
def robust_csv_reader(file_path):
    """
    å®‰å…¨åœ°è¯»å–å•ä¸ªCSVæ–‡ä»¶ï¼Œå¤„ç†å¯èƒ½çš„é”™è¯¯ï¼Œå¹¶å°†å…¶è½¬æ¢ä¸ºæ ‡å‡†åŒ–çš„Polars DataFrameã€‚
    """
    try:
        # ä½¿ç”¨ Polars è¯»å– CSVï¼Œåˆå§‹å…¨éƒ¨ä½œä¸ºå­—ç¬¦ä¸²ç±»å‹ï¼Œé¿å…æ¨æ–­é”™è¯¯
        df = pl.read_csv(
            file_path, infer_schema_length=0,
            dtypes={col: pl.Utf8 for col in STANDARD_COLS},
            null_values=["", "NA", "NULL", "N/A", "NaN", "."],
            ignore_errors=True
        )
        # æ¸…ç†åˆ—åï¼šè½¬ä¸ºå°å†™ï¼Œæ›¿æ¢ç©ºæ ¼ä¸ºä¸‹åˆ’çº¿
        df = df.rename(lambda col: col.strip().lower().replace(" ", "_"))
        # ç¡®ä¿æ‰€æœ‰æ ‡å‡†åˆ—éƒ½å­˜åœ¨ï¼Œä¸å­˜åœ¨åˆ™ç”¨nullå¡«å……
        for col in STANDARD_COLS:
            if col not in df.columns:
                df = df.with_columns(pl.lit(None, dtype=pl.Utf8).alias(col))
        # é€‰æ‹©æ ‡å‡†åˆ—å¹¶æŒ‰ç…§æ ‡å‡†schemaè¿›è¡Œç±»å‹è½¬æ¢
        return df.select(STANDARD_COLS).cast(STANDARD_SCHEMA, strict=False)
    except Exception as e:
        print(f"âš ï¸ æ–‡ä»¶ {os.path.basename(file_path)} è¯»å–å¤±è´¥: {str(e)}")
        return None

# 3. ä¸»å¤„ç†å‡½æ•° (ä¿®æ”¹ç‰ˆï¼šåˆ†å—å†™å…¥DTAï¼Œé¿å…å†…å­˜å´©æºƒ)
def merge_csv_to_stata_chunks(csv_dir, output_path_base, batch_size=20):
    """
    å°†CSVæ–‡ä»¶å¤¹ä¸­çš„æ–‡ä»¶åˆ†æ‰¹åˆå¹¶ï¼Œå¹¶æœ€ç»ˆç”Ÿæˆå¤šä¸ªåˆ†å—çš„ .dta æ–‡ä»¶ã€‚
    è¿™ä¸ªæ–¹æ³•å¯ä»¥å¤„ç†éå¸¸å¤§çš„æ•°æ®é›†ï¼Œå› ä¸ºå®ƒé¿å…äº†ä¸€æ¬¡æ€§å°†æ‰€æœ‰æ•°æ®åŠ è½½åˆ°å†…å­˜ä¸­ã€‚
    """
    # åˆ›å»ºä¸€ä¸ªä¸´æ—¶ç›®å½•æ¥å­˜æ”¾ä¸­é—´çš„ Parquet æ–‡ä»¶
    temp_dir = Path(csv_dir) / "temp_parquet_chunks"
    if temp_dir.exists():
        shutil.rmtree(temp_dir) # å¦‚æœæ—§çš„ä¸´æ—¶ç›®å½•å­˜åœ¨ï¼Œå…ˆæ¸…ç©º
    temp_dir.mkdir()
    
    all_files = sorted(glob.glob(os.path.join(csv_dir, "*.csv")))
    print(f"ğŸ“‚ å‘ç° {len(all_files)} ä¸ªCSVæ–‡ä»¶ï¼Œå°†ä»¥æ¯æ‰¹ {batch_size} ä¸ªæ–‡ä»¶çš„è§„æ¨¡å¤„ç†ã€‚")

    if not all_files:
        print("ğŸ¤·â€â™€ï¸ åœ¨æŒ‡å®šç›®å½•æœªæ‰¾åˆ°ä»»ä½•CSVæ–‡ä»¶ï¼Œæ“ä½œç»ˆæ­¢ã€‚")
        return

    # --- é˜¶æ®µä¸€ï¼šå°† CSV åˆ†æ‰¹è½¬æ¢ä¸º Parquet ä¸­é—´æ–‡ä»¶ ---
    total_batches = (len(all_files) + batch_size - 1) // batch_size
    for i in tqdm(range(total_batches), desc="å¤„ç†CSVæ‰¹æ¬¡å¹¶ç”ŸæˆParquet"):
        start_idx = i * batch_size
        end_idx = start_idx + batch_size
        batch_files = all_files[start_idx:end_idx]
        
        batch_dfs = [robust_csv_reader(f) for f in batch_files if f]
        batch_dfs = [df for df in batch_dfs if df is not None and df.height > 0]

        if not batch_dfs:
            continue
            
        # åˆå¹¶å½“å‰æ‰¹æ¬¡çš„ Polars DataFrames
        batch_polars_df = pl.concat(batch_dfs)
        
        # å°†å½“å‰å°æ‰¹æ¬¡ç«‹åˆ»å­˜ä¸º Parquet æ–‡ä»¶ï¼Œå†…å­˜å ç”¨ä½
        # Parquet æ˜¯ä¸€ç§é«˜æ•ˆçš„åˆ—å¼å­˜å‚¨æ ¼å¼
        parquet_path = temp_dir / f"batch_{i:04d}.parquet"
        batch_polars_df.write_parquet(parquet_path)

    print("\nâœ… æ‰€æœ‰CSVæ‰¹æ¬¡å‡å·²å¤„ç†å¹¶ä¿å­˜ä¸ºä¸´æ—¶çš„ Parquet æ–‡ä»¶ã€‚")

    # --- é˜¶æ®µäºŒï¼šé€ä¸€å°† Parquet ä¸­é—´æ–‡ä»¶è½¬æ¢ä¸º .dta åˆ†å—æ–‡ä»¶ ---
    # è¿™æ˜¯é¿å…å†…å­˜å´©æºƒçš„å…³é”®æ­¥éª¤
    print("â³ å¼€å§‹å°†æ¯ä¸ª Parquet åˆ†å—ç‹¬ç«‹è½¬æ¢ä¸º .dta æ–‡ä»¶...")
    all_parquet_files = sorted(temp_dir.glob("*.parquet"))
    
    if not all_parquet_files:
        print("ğŸ¤·â€â™€ï¸ æœªèƒ½ç”Ÿæˆä»»ä½• Parquet ä¸­é—´æ–‡ä»¶ï¼Œæ— æ³•ç»§ç»­ã€‚")
        shutil.rmtree(temp_dir)
        return

    try:
        for i, parquet_file in enumerate(tqdm(all_parquet_files, desc="è½¬æ¢Parquetåˆ†å—ä¸ºDTA")):
            # a. åªè¯»å–ä¸€ä¸ªåˆ†å—ï¼Œå†…å­˜å ç”¨å°
            polars_df_chunk = pl.read_parquet(parquet_file)
            
            # b. åªå°†è¿™ä¸ªå°åˆ†å—è½¬æ¢ä¸º Pandasï¼Œè¿™æ˜¯æ•´ä¸ªæµç¨‹ä¸­å†…å­˜å ç”¨æœ€é«˜ç‚¹ï¼Œä½†å·²è¢«åˆ†å—é™åˆ¶
            pandas_df_chunk = polars_df_chunk.to_pandas()
            
            # c. å°†è¿™ä¸ªå°åˆ†å—å†™å…¥ä¸€ä¸ªç‹¬ç«‹çš„ .dta æ–‡ä»¶
            output_dta_part = f"{output_path_base}_part_{i:04d}.dta"
            pandas_df_chunk.to_stata(output_dta_part, write_index=False)
        
        print(f"\nâœ… æ‰€æœ‰åˆ†å—å¤„ç†å®Œæ¯•ï¼")
        print(f"ğŸ“‚ è¯·åœ¨è¾“å‡ºç›®å½•æŸ¥çœ‹ç”Ÿæˆçš„ `..._part_N.dta` æ–‡ä»¶ã€‚")

    except Exception as e:
        print(f"âŒ åœ¨è½¬æ¢ Parquet åˆ° DTA çš„è¿‡ç¨‹ä¸­å‘ç”Ÿé”™è¯¯: {e}")
        print("ğŸ’¡ è¯·æ£€æŸ¥pandaså’Œç›¸å…³ä¾èµ–æ˜¯å¦æ­£ç¡®å®‰è£…ã€‚")
    
    finally:
        # 5. æ¸…ç†ä¸´æ—¶æ–‡ä»¶
        print("ğŸ—‘ï¸ æ­£åœ¨æ¸…ç†ä¸´æ—¶æ–‡ä»¶...")
        shutil.rmtree(temp_dir)
        print("âœ¨ æ“ä½œå®Œæˆã€‚")


# 4. æ‰§è¡Œå…¥å£
if __name__ == "__main__":
    # --- è¯·åœ¨è¿™é‡Œé…ç½®æ‚¨çš„è·¯å¾„ ---
    # ä½¿ç”¨ pathlib æ¥æ„å»ºè·¨å¹³å°çš„è·¯å¾„
    # root = Path.cwd() # å¦‚æœè„šæœ¬åœ¨é¡¹ç›®æ ¹ç›®å½•çš„å­æ–‡ä»¶å¤¹ä¸­ï¼Œå¯èƒ½éœ€è¦ Path.cwd().parent
    root = Path.cwd().parent 

    # è¾“å…¥æ–‡ä»¶å¤¹ï¼Œå­˜æ”¾æ‚¨æ‰€æœ‰çš„.csvæ–‡ä»¶
    input_directory = str(root / 'input')
    
    # è¾“å‡ºæ–‡ä»¶å¤¹å’Œæ–‡ä»¶åå‰ç¼€
    # ä¾‹å¦‚ï¼Œè¿™é‡Œä¼šç”Ÿæˆ merged_data_part_0000.dta, merged_data_part_0001.dta, ...
    output_file_base = str(root / 'output' / 'merged_data')

    # æ£€æŸ¥å¹¶åˆ›å»ºè¾“å‡ºç›®å½•
    Path(root / 'output').mkdir(exist_ok=True)

    # --- æ‰§è¡Œä¸»å‡½æ•° ---
    merge_csv_to_stata_chunks(
        csv_dir=input_directory,
        output_path_base=output_file_base,
        batch_size=10 #å¯ä»¥æ ¹æ®ä½ çš„å†…å­˜å¤§å°è°ƒæ•´è¿™ä¸ªå€¼ï¼Œè¶Šå°ï¼Œå•æ‰¹æ¬¡å†…å­˜å ç”¨è¶Šä½
    )

ğŸ“‚ å‘ç° 212 ä¸ªCSVæ–‡ä»¶ï¼Œå°†ä»¥æ¯æ‰¹ 10 ä¸ªæ–‡ä»¶çš„è§„æ¨¡å¤„ç†ã€‚

å¤„ç†CSVæ‰¹æ¬¡å¹¶ç”ŸæˆParquet:   0%|          | 0/22 [00:00<?, ?it/s]/var/folders/gx/8b80zx6d2dd0slh0770_q04w0000gn/T/ipykernel_33918/1042761720.py:34: DeprecationWarning: the argument `dtypes` for `read_csv` is deprecated. It was renamed to `schema_overrides` in version 0.20.31.
  df = pl.read_csv(
å¤„ç†CSVæ‰¹æ¬¡å¹¶ç”ŸæˆParquet: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [04:01<00:00, 10.96s/it]

âœ… æ‰€æœ‰CSVæ‰¹æ¬¡å‡å·²å¤„ç†å¹¶ä¿å­˜ä¸ºä¸´æ—¶çš„ Parquet æ–‡ä»¶ã€‚
â³ å¼€å§‹å°†æ¯ä¸ª Parquet åˆ†å—ç‹¬ç«‹è½¬æ¢ä¸º .dta æ–‡ä»¶...

è½¬æ¢Parquetåˆ†å—ä¸ºDTA: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [16:02<00:00, 43.77s/it]

âœ… æ‰€æœ‰åˆ†å—å¤„ç†å®Œæ¯•ï¼
ğŸ“‚ è¯·åœ¨è¾“å‡ºç›®å½•æŸ¥çœ‹ç”Ÿæˆçš„ `..._part_N.dta` æ–‡ä»¶ã€‚
ğŸ—‘ï¸ æ­£åœ¨æ¸…ç†ä¸´æ—¶æ–‡ä»¶...
âœ¨ æ“ä½œå®Œæˆã€‚